<div>
  <div class="errors_div">
    <%= render "layouts/errors", entity: comment%>
  </div>
  <%= form_with model: [ @user, post ], data: { turbo_action: "advance" } do |form| %>
    <%= form.text_area :content, placeholder: "Inspiring words go here!"%>
    <%= form.submit "" %>
  <% end %>
</div>
