<turbo-frame id="comment-form">
  <div>
    <div id="errors_div">
      <%= render "layouts/errors", entity: comment%>
    </div>
    <%= form_with model: [ @post, comment ], data: { turbo_action: "advance" } do |form| %>
      <%= form.text_area :content, placeholder: "Inspiring words go here!"%>
      <%= form.submit "Post Comment" %>
    <% end %>
  </div> 
</turbo-frame>
