<div id="user_profile" class="avatar">
  <% user ||= @user%>
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar%>
  <% else %>
    <%= image_tag "/default_avatar.png" %>
  <% end %>
  <h2><%= user.username %></h2>
</div>