<h1>Editing <%= @user.username%></h1>
<% if @user.errors.any? %>
  <div class="error">
    <h2><%= pluralize(@user.errors.count, "error") %></h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="error">
  
</div>
<!-- Renders the user edit form -->
<%= render "form", user: @user, action: "Update" %>