<turbo-frame id="main_content" data-turbo-action="advance">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <h1>Sign Up</h1>
    <%= render "form", user: @user, action: "Create" %>
    <%= link_to "Cancel", login_user_path %>
  </div>
</turbo-frame>