<turbo-frame id="main_content">
  <div class="white-card">
    <% if title == "followers" %>
      <h1><%= "@#{@user.username} has #{pluralize(@user.followed_users.count, "follower")}" %></h1>
    <% else %>
      <h1><%= "@#{@user.username} follows #{pluralize(@user.followed_users.count, "user")}" %></h1>
    <% end %>
    <% users.each do |user| %>
      <%= render "users/user_title", user: user, created_at: 0%>
    <% end %>
  </div>
</turbo-frame>