<turbo-frame id="main_content">
  <% page = @page ? @page : 1%>
  <% global_posts ||= @global_posts%>
  <%= render "page_arrows", page: page, max_page: global_posts.total_pages%>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <%= render partial: "posts/post", collection: global_posts, as: :post %>
  </div>
  <%= render "page_arrows", page: page, max_page: global_posts.total_pages%>
</turbo-frame>