<turbo-frame id="main_content">
  <div style="display:flex; flex-direction: column; align-items: center;">
    <%= render "form", post: @post, action: "Create" %>
    <%= link_to "Cancel", @user%>
  </div>
</turbo-frame>