/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root {
  --avatar-size-in-posts: 3.5rem;
  --aqua: #73fbd3;
  --cyan: #44e5e7;
  --sky-blue: #59d2fe;
  --chef-blue: #4a8fe7;
  --blue: #5c7aff;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--chef-blue);
}
h2,
h3,
h4,
h5 {
  margin: 0;
}
a:hover {
  color: var(--sky-blue);
  border: none;
}
input {
  display: block;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: larger;
  border: 1px solid var(--chef-blue);
  transition: all 0.1s ease-in-out;
  flex: 1;
}
form {
  display: flex;
  max-width: 30rem;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}

#login {
  background: white;
  border-radius: 1rem;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  padding: 1rem;
}
.horizontal-nav {
  top: 10rem;
  display: flex;
}
div.space-between {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  padding-block-start: 1rem;
  width: 100%;
  padding-inline: 30rem;
  justify-self: center;
  overflow-y: scroll;
  background-image: url("/pexels-souvenirpixels-1539225.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 10% 50%;
  background-repeat: no-repeat;
}

.navbar img {
  border-radius: 1rem;
  height: 10rem;
  width: 10rem;
  justify-self: center;
  align-self: center;
}

@media only screen and (max-width: 1400px) {
  .content {
    padding-inline: 10rem;
  }
  .navbar .avatar img {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    padding-inline: 1rem;
  }
  .post,
  .post .user h4 {
    font-size: 90%;
  }
  .post .title img {
    height: 4rem;
    width: 4rem;
  }
}
.topbar {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 5px 5px 30px rgba(188, 188, 188, 0.366);
}
.spacer {
  top: 0;
  color: transparent;
}
.navbar {
  top: 7rem;
  color: white;
  position: sticky;
  padding-inline: 0.2rem;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  width: min-content;
  gap: 0.2rem;
}
.navbar span {
  display: none;
}
.navbar .avatar img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.navbar .button {
  width: min-content;
  padding: 0.5rem;
}
.navbar div {
  padding: 0;
  width: 3rem;
}
.navbar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 100rem;
}
.navbar > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navbar .user {
  background: transparent;
  border: none;
  padding: 0;
}
.navbar .user:hover {
  background: transparent;
  border: none;
}
#user_profile {
  padding: 0;
  background: transparent;
  transition: all 0.15s ease-in-out;
}
#user_profile:hover {
  transform: translateY(-0.4rem) scale(105%);
}
.user .avatar h2 {
  visibility: collapse;
}
.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar h1 {
  background-image: linear-gradient(
    50deg,
    rgb(0, 145, 255),
    rgb(255, 0, 230),
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.navbar .actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navbar a,
.button,
button,
input[type="submit"],
.pagination span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
  border: none;
  transition: all 0.15s ease-in-out;
  padding-block: 0.5rem;
  width: 100%;
  margin: 0rem;
}
a svg,
.button svg,
button svg,
input[type="submit"] svg {
  height: 2rem;
  width: min-content;
}
.navbar a,
.navbar button,
input[type="submit"] {
  fill: white;
  color: white;
  background: var(--chef-blue);
}

.button:hover,
button:hover,
input[type="submit"]:hover {
  fill: var(--chef-blue);
  color: var(--chef-blue);
  border: 1px solid white;
  background: white;
  transform: translateY(-0.4rem) scale(105%);
  box-shadow: 5px 10px 30px rgba(83, 83, 83, 0.363);
}

.button,
button,
input[type="submit"],
.pagination span:hover {
  color: white;
  background: var(--chef-blue);
  border: 1px solid var(--chef-blue);
  transform: none;
}
.pagination span:hover a {
  color: white;
}
.button:hover,
button:hover,
input[type="submit"]:hover {
  color: var(--chef-blue);
  background: white;
}

.pagination {
  width: 100%;
  margin: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.pagination span {
  padding: 0rem;
  display: flex;
  color: var(--chef-blue);
  background: white;
  border-radius: 1rem;
  align-items: center;
  border: 1px solid white;
}
.pagination a {
  padding: 0.25rem;
  flex: 1;
}
.post {
  background: white;
  box-shadow: 5px 5px 20px rgba(123, 123, 123, 0.54);
  margin: 1rem;
  border-radius: 1rem;
  min-width: 100%;
}
.post > img {
  margin-block: 0.5rem;
  width: 100%;
  max-height: 35rem;
  object-fit: cover;
}
.post .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.35rem;
}
.post .div-padding {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-padding > * {
  width: 100%;
}
.horizontal-div {
  display: flex;
}
.horizontal-div > * {
  flex: 1;
}
.horizontal-div h3 {
  margin: 0;
  color: black;
}
.horizontal-div svg {
  height: 2.35rem;
}
.horizontal-div button, .horizontal-div .button {
  gap: 0.5rem;
  background: white;
  border: 1px solid white;
  color: var(--chef-blue);
}
.post .user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: x-large;
}
.post .user img {
  width: var(--avatar-size-in-posts);
  height: var(--avatar-size-in-posts);
  object-fit: cover;
  border-radius: 100rem;
}
